version : '3.8'
services:
    api:
        build: .
        ports:
            - "3000:3000"
        volumes:
            - .:/app
            - /app/node_modules
        environment:
            - CHOKIDAR_USEPOLLING=true
            - WATCH_MODE=true
            - PORT=3000
        command: nodemon -L --watch src --ext ts --exec "nest start"
    
    mongo:
        image: mongo:6.0
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db

volumes:
        mongo_data: