version : '3.8'
services:
    api:
        env_file: .env
        build: .
        ports:
            - "3000:3000"
        volumes:
            - .:/app
            - /app/node_modules
        environment:
            - CHOKIDAR_USEPOLLING=true
            - WATCH_MODE=true
            - PORT=3000
            - JWT_SECRET=${JWT_SECRET}
            - AWS_REGION=${AWS_REGION}
            - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
            - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
            - AWS_SNS_TOPIC_ARN=${AWS_SNS_TOPIC_ARN}
            - AWS_SQS_NOTIFICATION_QUEUE=${AWS_SQS_notification_queue}
            - AWS_SQS_INVENTORY_QUEUE=${AWS_SQS_inventory_queue}
        command: nodemon -L --watch src --ext ts --exec "nest start"
    
    mongo:
        image: mongo:6.0
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db

volumes:
        mongo_data: